<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.AJPPABLAB2ConnectionString"
            connectionString="Data Source=LOCALHOST\LOCALDATABASE;Initial Catalog=AJPPABLAB2;Persist Security Info=True;User ID=Administrator;Password=cisco123!L"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>